<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My title</title>
    <meta name="description" content="This is static boilerplate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  <h3>Hello guys!</h3>
  <ul id="users">
  
  </ul>

  <script type="text/html" id="user-template">
    <li><%= fname %> <%= lname %></li>
  </script>

  <script type="text/javascript" src="vendor/template.js"></script>
  <script type="text/javascript" src="vendor/helpers.js"></script>
  <script type="text/javascript" src="lib/request.js"></script>
  <script type="text/javascript" src="lib/app.js"></script>
  <script type="text/javascript">
    new App().start();
  </script>
  </body>
</html>
